<%# I have to set local to true, because otherwise the validations will not transfer to the client %>
<%= form_with model: user, local: true, class:'form-signin' do |f| %>

  <% if user.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="form-label-group">
    <%= f.text_field :name, class: "form-control", placeholder: 'Name', autofocus: true %>
    <%= f.label :name, 'Name' %>
  </div>
  <div class="form-label-group">
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    <%= f.label :email, 'Email' %>
  </div>
  <div class="form-label-group">
    <%= f.text_field :address, class:'form-control', placeholder: 'Location' %>
    <%= f.label :address, 'Location' %>
  </div>

  <hr>

  <%= f.submit 'Create User', class: 'btn btn-primary btn-lg btn-block text-uppercase' %>
  <%= link_to 'Sign In', login_path, class: 'd-block text-center mt-2 small' %>
<% end %>
