<div class="container mt-3 bg-light rounded">
  <div class="row">
    <div class="col m-3">
      <h2 class="title"><%= @user.name %></h2>
      <p class="text">Email: <%= @user.email %></p>
      <p class="text">Address: <%= @user.address %></p>
      <hr>
      <h3 class="subtitle">Your Events</h3>
      <% if @user.events.empty? %>
        <small class="text-muted">You haven't created any Events yet. Create one <%= link_to 'here', new_event_path %>.</small>
      <% else %>
        <ul class="list-group">
          <%= render @user.events %>
        </ul>
        <%= link_to 'Create a New Event', new_event_path, class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <% if @user == current_user %>
  <hr>
  <div class="row">
    <div class="col m-3">
      <h3 class="title">Your Invitations</h3>
      <% if @user.attended_events.empty? %>
        <p class="text-muted">You aren't invited to any Events at the moment. But soon...</p>
      <% else %>
        <% @user.attended_events.each do |event| %>
          <ul class="list-group">
            <%= render "events/event", event: event %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
